.concept {

    float:left;
    position: relative;


    width: 50vw;
    height: 100vh;
    background: #8c1515;

    
}

.content{

    width: 75%;
    height: 75%;
    background: #dad7cb;

    vertical-align: center;

    margin: auto;
    margin-top: 6.250%;
    overflow: auto;


}

body {

    margin:0;
    padding:0;
    
    width: max-content;
    overflow-y: hidden;
    overflow-x: visible;
    
}

.questionBullet{
    float:left;
    clear:left;
    text-align: left;
    font-weight:bold;

}

.answerBullet{
    margin-left:15%;
    margin-right:5%;
    clear:right;
    float:right;
    text-align: right;
    list-style: none;
}

h1,h2,h3,h4{
    margin-left:2.5%;
}